
.menu-category {
  display: flex;
  justify-content: space-around;
}

.menu-category>h2 {
  text-align: center;
}

.top-menu-page>h2 {
  text-align: center;
}

.title_price {
  display: flex;
  p {
    padding: 1rem;
  }
}